* {
  font-family: Frijole, sans-serif;
  font-style: normal;
  margin: 0 0 0 0;
}

body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.flex-box {
  height: 5vh;
  padding-top: 1vh;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  text-align: center;
}

#bg {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 90% 10%;
  margin: 0 0 0 0;
  width: 100%;
  height: 94vh;
  align-self: end;
}

.grid-item {
  position: relative;
  justify-content: center;
  text-align: center;
}

.complete {
  text-align: right;
  padding-right: 5%;
  position: relative;
  margin: 0 0 0 0;
  padding-top: 0;
}

#time {
  font-size: 6vw;
  margin: auto;
  text-align: center;
  font-weight: 100;
}

.message {
  text-align: center;
  position: relative;
}

#state {
  font-size: 2vw;
  text-align: center;
  position: relative;
}

.lang {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  justify-content: top;
}

#button {
  margin-top: 0;
  color: white;
  border: 0;
  font-size: 2.5vw;
  padding: 10px 24px;
  width: 30%;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: #f6b432;
}

.button1 {
  position: absolute;
  bottom: 3vh;
  left: 35%;
}

.bullet {
  width: 5%;
}

.filler {
  width: 30vw;
}

.x,
#count {
  display: inline;
}

.pipe {
  position: absolute;
  bottom: 0;
  align-self: center;
  height: 6vh;
}

#pipe2 {
  left: 50%;
}

#about {
  position: absolute;
  left: 45%;
}

.star {
  width: 2vw;
}

.star,
#x {
  display: inline;
}

#pic {
  width: 35%;
}

#myProgress {
  position: absolute;
  left: 10%;
  bottom: 20%;
  width: 80%;
  background-color: white;
  vertical-align: bottom;
}

#currProg {
  width: 0%;
  height: 10%;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 3vw;
  color: red;
}

.wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  left: 5%;
  right: 0%;
  height: 60%;
  width: 100%;
}

.header {
  background-color: #f44336;
  color: white;
  text-align: center;
  font-size: 60%;
  padding: 0 0 50px 0;
}

.header::after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 65%;
  padding: 10px 0 10px 0;
  float: left;
  font-size: 100%;
  position: absolute;
  left: 10%;
}

input::placeholder {
  padding-left: 10px;
}

.addBtn {
  position: absolute;
  right: 10%;
  padding: 10px 0 10px 0;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 100%;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.input,
.addBtn {
  display: inline;
}

.addBtn:hover {
  background-color: #bbb;
}

ul {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 3% 0 3% 0;
  background: lightgray;
  font-size: 100%;
  border: solid black 1px;
  transition: 0.2s;
  overflow: hidden;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  justify-content: center;
  z-index: 9999;
  width: 10%;
  height: 100%;
}

.close:hover {
  background-color: red;
  color: white;
}
